  :root{
    --ui-font:'Poppins', sans-serif;
    --title-font: 'Outfit', sans-serif;
    --paragraph-font: 'Switzer', sans-serif;
    --main-font-color: #262626;
    --bg-color: #fcfcfc;
    --main-color: #191919;
    --second-color: #8860EF;
    --accent-color: #628AC7;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    background-color: var(--bg-color);
    color: var(--main-font-color);
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 90ch;
    /* min-height: 100dvh; */
    /* height: calc(100% - footer); */
    position: relative;
    padding-bottom: 10rem;
  }
  

  h1 {
    font-size: 2.7rem;
    margin: 1rem 0;
    font-size: 2rem;
    font-family: var(--title-font);
    line-height: 1.1;
  }
  h2{
    font-size: 2rem;
    line-height: 1.15;
  }
  h3{
    font-size: 1.7rem;
  }
  h4{
    font-size: 1.4rem;
  }
  h5{
    font-size: 1.25rem;
  }
  ol{
    list-style: decimal;
    padding-inline: 18px;
  }
  ul{
    list-style: disc;
    padding-inline: 18px;
  }
  hr{
    height: 1px;
    width: 100%;
  }
  .post-title{
    padding-top: 4px;
    font-size: 1.45rem;
  }

  p{
    font-family: var(--paragraph-font);
    font-weight: 400;
    font-size: 0.95rem;
    text-wrap: wrap;
    padding-inline: 2px;
    padding-bottom: 12px;
  }
  .post-desc{
    font-size: 0.95rem;
    padding-top: 6px;
  }

  footer{
    background: var(--main-color);
  }
  .layout-wrapper{
    min-height: 100dvh;
    height: calc(100 - 52rem);
  }
/* nav styles */
.hamburger {
  padding: 12px 6px;
  cursor: pointer;
  margin-bottom: auto;
}

.hamburger .line {
  display: block;
  width: 32px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 2px;
  background-color: var(--main-color);
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
  color: #555555;
}

.nav-links a {
  text-align: center;
  padding: 10px 0;
}

.expanded {
  display: unset;
}


@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  
  .hamburger {
    display: none;
  }
}

/* Markdown styling */

.red-text{
  color: #bd3e48;
}