  :root{
    --ui-font:'Poppins', sans-serif;
    --title-font: 'Outfit', sans-serif;
    --paragraph-font: 'Switzer', sans-serif;
    --main-font-color: #262626;
    --bg-color: #fcfcfc;
    --main-color: #191919;
    --second-color: #8860EF;
    --accent-color: #628AC7;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    background-color: var(--bg-color);
    color: var(--main-font-color);
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 100ch;
    /* min-height: 100dvh; */
    /* height: calc(100% - footer); */
    position: relative;
    padding-bottom: 10rem;
  }
  
 
  
  h1 {
    margin: 1rem 0;
    font-size: 2rem;
    font-family: var(--title-font);
    line-height: 1.1;
  }
  .post-title{
    font-size: 1.5rem;
  }

  p{
    font-family: var(--paragraph-font);
    font-weight: 400;
    font-size: 0.95rem;
  }
  .post-desc{
    font-size: 1rem;
  }

  footer{
    background: var(--main-color);
  }
  .layout-wrapper{
    min-height: 100dvh;
    height: calc(100 - 52rem);
  }
/* nav styles */
.hamburger {
  padding: 10px 10px;
  cursor: pointer;
  margin-bottom: auto;
}

.hamburger .line {
  display: block;
  width: 24px;
  height: 3px;
  margin-bottom: 4px;
  background-color: var(--main-color);
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
  color: #555555;
}

.nav-links a {
  text-align: center;
  padding: 10px 0;
}

.expanded {
  display: unset;
}


@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  
  .hamburger {
    display: none;
  }

  h1{
    font-size: 3.2rem;
  }
}

/* Markdown styling */

.red-text{
  color: #B4424B;
}