---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Page is still not finished</h1>
  <p>Work in progress...</p>
</BaseLayout>
