---
const { title, url } = Astro.props;
const { tag } = Astro.params;
---
<div class="shadow rounded-xl sm:mx-4 sm:mb-4 md:mx-0 w-full max-w-80">
<img class="rounded-t-xl w-full" src="https://via.placeholder.com/300x150" alt="Placeholder Image">
<div class=" px-1 pb-6">
    <h1 class="post-title m-0"><a href={url}>{title}</a></h1>
    <p class="text-neutral-400 text-sm leading-none mt-0">{tag}</p>
    <p class="post-desc w-full text-wrap mt-1"> some text</p>
</div>
</div>