---
const { title, url } = Astro.props;
import { Image } from 'astro:assets';
import PostBg from '../../public/PostBg.jpg';
---
<div class="shadow sm:mx-4 sm:mb-4 md:mx-0 w-full max-w-80">

<Image class="w-full max-h-40" src={PostBg} alt="Placeholder Image" />
<div class=" px-2 pb-6">
    <h1 class="post-title m-0"><a href={url}>{title}</a></h1>
    <p class="post-desc w-full text-wrap mt-1">Demand management policies are macroeconomic policies implemented by governments or central banks to influence aggregate demand in an economy.</p>
</div>
</div>