---
const { title, url } = Astro.props;
---
<div class="shadow rounded-xl sm:mx-4 sm:mb-4 md:mx-0">
<img class="rounded-t-xl w-full" src="https://via.placeholder.com/300x150" alt="Placeholder Image">
<div>
    <div class="post-filters">
        <div class="post-date"></div>
        <div class="post-tags"></div>
    </div>
    <li class="rounded-b-xl mt-2 mb-1 pl-2 w-full text-lg font-semibold"><a href={url}>{title}</a></li>
    <p class="post-desc pl-2 w-full"> some text</p>
</div>
</div>