---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---
<header>
    <nav class="outline outline-1 flex justify-center items-center">
        <Hamburger />
        <Navigation />
    </nav>
</header>