---
---
<div class="nav-links w-full">
  <ul class=" grid grid-cols-1 place-items-center sm:flex">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
  </ul>
</div>