---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link href="https://api.fontshare.com/v2/css?f[]=outfit@600&f[]=switzer@400&f[]=poppins@400,300,200&display=swap" rel="stylesheet">
    <title>{pageTitle}</title>
  </head>
  <body class=" w-full min-w-full flex flex-col items-center">
    
    <Header />
    <div class="layout-wrapper h-full min-h-dvh w-full max-w-4xl px-3">
    <slot />
    </div>
    <Footer />
    
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>